[submodule "ODESolver"]
	path = ODESolver
	url = https://github.com/gagandeepthapar/ODESolver.git

[submodule "StateEstimator"]
	path = StateEstimator
	url = https://github.com/gagandeepthapar/StateEstimator.git

[submodule "TrajectoryGenerator"]
	path = TrajectoryGenerator
	url = https://github.com/gagandeepthapar/TrajectoryGenerator.git
